modules = ["nodejs-20"]
run = "npm run agents:weather-agent"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run agents:weather-agent"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 41241
externalPort = 80
